# ------------------- LLM -------------------
LLM_TEXT_MODEL="meta-llama/llama-4-scout-17b-16e-instruct"
LLM_IMAGE_MODEL="meta-llama/llama-4-scout-17b-16e-instruct"

LLM_API_TOKEN=...
LLM_BASE_URL=...

LLM_MAX_RETRIES=3

# ------------------- Chroma -------------------
CHROMA_COLLECTION_NAME=multi_modal_rag
CHROMA_COLLECTION_DESCRIPTION="Multimodal RAG: text, tables and images"
CHROMA_HNSW_SPACE=ip

# ------------------- Embedding -------------------
EMBEDDING_MODEL_NAME="multi-qa-mpnet-base-dot-v1"

# ------------------- Device -------------------
DEVICE=cpu

# ------------------- App -------------------
APP_HOST=0.0.0.0
APP_PORT=8000
APP_RELOAD=1
